@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/*  */

/* disable bootstrap button click effect */

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus:not(:disabled):not(.disabled), .btn:focus, .btn:active, .btn:hover {
    box-shadow: none!important;
    outline: 0;
}

.home-section {
    width: 100%;
    background-color: #222831;
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.highlight-title h1 {
    width: fit-content;
    top: 130px;
    left: 200px;
    color: white;
    font-weight: bold;
}