/* disable bootstrap button click effect */

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus:not(:disabled):not(.disabled), .btn:focus, .btn:active, .btn:hover {
    box-shadow: none!important;
    outline: 0;
}

.search-container {
    width: 100%;
    display: flex;
    padding: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-text {
    text-align: center;
    margin: 0 10px !important;
    color: white !important;
    font-weight: bold !important;
    background-color: transparent !important;
    border: 0 !important;
}

.btn-text:hover {
    color: rgb(216, 216, 216) !important;
}

.search-bar {
    font-size: 15px !important;
    border-radius: 5px 0 0 5px !important;
    width: 50% !important;
}

.btn-submit {
    background-color: rgb(216, 216, 216) !important;
    border: 0 !important;
    border-radius: 0 5px 5px 0 !important;
}

.btn-grp {
    margin: auto 0;
    padding: 0 20px;
    justify-content: center;
    position: sticky;
    top: 0;
}

.btn-temp {
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold !important;
    color: black !important;
    background-color: white!important;
    border: 0 !important;
}

.btn-temp:hover {
    background-color: rgb(216, 216, 216) !important;
}

/* Tablet view */

@media (max-width: 768px) {
    .search-container {
        width: 100%;
        flex-direction: row;
    }
    .search-bar {
        width: 60% !important;
        align-self: center;
        justify-content: center;
    }
}

/* Mobile view */

@media (max-width: 578px) {
    .search-container {
        margin: 40px 0 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .search-bar {
        order: 1;
        width: 100% !important;
    }
    .btn-grp {
        order: 2;
    }
    .btn-grp:nth-child(1) {
        align-self: center;
    }
    .btn-grp:nth-child(3) {
        padding-left: 20px;
        align-self: center;
    }
}