.search-container {
    width: 100%;
    display: flex;
    padding: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-text {
    text-align: center;
    margin: 0 10px !important;
    color: white !important;
    font-weight: bold !important;
    background-color: transparent !important;
    border: 0 !important;
}

.btn-text:hover {
    color: rgb(216, 216, 216) !important;
}

.form-inline {
    padding: 0 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/*  */

/* disable bootstrap button click effect */

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus:not(:disabled):not(.disabled), .btn:focus, .btn:active, .btn:hover {
    box-shadow: none!important;
    outline: 0;
}

.search-bar {
    font-size: 15px !important;
    width: 500px !important;
    border-radius: 5px 0 0 5px !important;
}

.btn-submit {
    background-color: rgb(216, 216, 216) !important;
    border: 0 !important;
    border-radius: 0 5px 5px 0 !important;
}

.btn-grp-temp {
    margin: auto 0;
    justify-content: center;
}

.btn-temp {
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold !important;
    color: black !important;
    background-color: white!important;
    border: 0 !important;
}

.btn-temp:hover {
    background-color: rgb(216, 216, 216) !important;
}