.week-content {
    margin: 50px 0;
    padding: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.highlight-week-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 60px;
}

.big-card {
    border-radius: 5px !important;
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.week-card-title {
    margin: 20px auto !important;
    font-weight: bold !important;
}

.week-card-body p {
    padding: 5px 0 !important;
    font-size: 20px;
}

/* Tablet view */

@media (max-width: 768px) {
    .week-content {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .big-card {
        width: 300px;
        height: 400px;
        margin: 5px;
    }
    .week-card-body p {
        font-size: 30px;
    }
}

/* Mobile view */

@media (max-width: 578px) {
    .week-content {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .highlight-week-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 0;
    }
    .big-card {
        width: 150px;
        height: 200px;
        margin: 5px;
    }
    .week-card-body p {
        padding: 0 !important;
        font-size: 15px;
    }
}