@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@600&display=swap');
/*  */

body {
    background-color: #0077b6;
    padding: 0 20px;
    margin: 0;
}